<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <header>
<h1 style= color:crimson>Welcome to Laundary Mart!</h1>
<section>
<h3>Experience hassle-free laundry with our exceptional service. We have the expertise and equipment to transform your laundry experience. Trust us for quality results every time. Say goodbye to laundry stress, say hello to effortless laundry solutions.</h3> 
</section>
 </header>
<img src="pexels-polina-tankilevitch-4440652.jpg" height=400px width=300px alt="img">
<section>

 <ul>
<h2>Our services:</h2>
    <li>Washing and drying</li>
    <li>Ironing and pressing</li>
    <li>Folding and packing</li>
    <li>Dry cleaning and stain removal</li>
    <li>Delicate wash for silk, wool, and other fine fabric items</li>
    <li>Bed linen washing</li>
    <li>Curtain and sofa cleaning</li>
    <li>Wedding dress preservation and cleaning</li>
    <li>Shoe cleaning and shine</li>
    <li>Alteration and repair services</li>
 </ul>

 <h2>Pricing list</h2>
 <table border="1">
    <thead>
        <tr>
          <th>Service</th> 
          <th>Prices</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>Washing and drying</td>
            <td>200/-</td>
        </tr>
        <tr>
            <td>Ironing and pressing</td>
            <td>100/-</td>
        </tr>
        <tr>
            <td>Folding and packing</td>
            <td>50/-</td>
        </tr>
        <tr>
            <td>Dry cleaning and stain removal</td>
            <td>250/-</td>
        </tr>
        <tr>
            <td>Delicate wash for silk, wool, and other fine fabric items</td>
            <td>300/-</td>
        </tr>
    </tbody>
 </table>
 
</section>

<section>
 <h3 style= color:red>Book now:</h3> 
 <form>
    <label for="Name">Name</label>
    <input type="text"/><br>
    <label for="Email">Email</label>
    <input type="email" id="email"/><br>
    <label for="number">Phone no.</label>
    <input type="number"><br>
    <input type="submit"/>
 </form>  
</section>
<footer>
<h3>contact us at:</h3>
<a href=info@laundarymart.com.html>info@laundarymart.com.html</a>
<a href=http://127.0.0.1:5000/products>PRODUCTS</a>
</footer>

<h>note:content( laundarymart discription /lists) are copied from chatgpt but code is self written</h>
</body>
</html>